@model SupeRSAfe.DTO.Manage.MainViewModel
@{
    ViewData["Title"] = "Home Page";

    TempData.Keep();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 main">
            @if (Model.Emails != null)
            {
                <ul class="list-group">
                    @foreach (var email in Model.Emails)
                    {
                    <a asp-action="ChoseEmail" asp-controller="Home" asp-route-id="@email.Id">
                        <li>
                            <div class="col-sm-12">
                                <h4>@email.Subject</h4>
                                <p>@email.Date</p>
                            </div>
                        </li>
                    </a>
                    }
                </ul>
            }
            else
            {
                <h3>Mailbox is empty</h3>
            }
        </div>
        <div class="col-sm-6 main">
            @if (Model.ChosenEmail != null)
            {
                <p>@Model.ChosenEmail.Message</p>
            }
            else
            {
                <h3>Choose an email.</h3>
            }
        </div>
        <div class="col-sm-2 main">
            @if (Model.Keys != null)
            {
                <ul>
                    @foreach (var key in Model.Keys)
                    {
                    <a asp-action="ChoseKey" asp-controller="Home" asp-route-id="@key.Id">
                        <li>Public key: <br />@key.OpenKey</li>
                    </a>
                    }
                </ul>
            }
            else
            {
                <h3>Mailbox is empty</h3>
            }
        </div>
    </div>
</div>
